<section class="donation">
    <section class="donationTooltip">
        <p>${{ DonationNeeded }} still needed for this project.</p>
        <img src="http://localhost:2770/src/img/caretDown.png" width="20" class="caretDown">
    </section>
    <section class="donationBody">
        <span class="donationBar">
            <span class="fill"></span>
        </span>
        <section class="donationContents">
            <p><span class="focus">Only {{ DaysLeft }} days left </span>to fund this project.</p>
            <p>Join {{ TotalDonors }} other donors have donated ${{ DonatedAmount }}.</p>
            <input type="text" class="donationField">
            <button type="button" class="btnDonation">Give Now</button>
        </section>
    </section>
</section>
