body {
    color: #807a7c;
    font-family: Sans-serif;

    .donation {
        width: 400px;

        .donationTooltip {
            position: relative;
            padding: 3px 20px;
            background: #444444;
            color: #FFFFFF;
            text-align: center;
            border-radius: 5px;
            margin-bottom: 20px;

            .caretDown {
                position: absolute;
                right: 65px;
                top: 56px;
            }
        }

        .donationBody {
            border: 1px solid #e3e3e3;
        }

        .donationBar {
            display: block;
            width: 100%;
            background: #f9f9f9;
            height: 10px;

            .fill {
                display: block;
                width: 0;
                height: 10px;
                background: #eb603c;

                &.complete {
                    background: #33bb35;
                }
            }
        }

        .donationContents {
            padding: 20px;

            .focus {
                display: inline-block;
                margin-right: 5px;
                color: #d85f43;
                font-weight: bold;
            }

            .donationField {
                padding: 18px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                font-size: 16px;
                font-weight: bold;
                width: 142px;
                text-align: center;
                margin-right: 31px;
            }

            .btnDonation {
                border: 1px solid #33bb35;
                background: #33bb35;
                color: #FFFFFF;
                padding: 18px;
                border-radius: 5px;
                font-size: 16px;
                font-weight: bold;
                cursor: pointer;
                width: 142px;

                &.disabled {
                    background: #CCCCCC;
                    border: 1px solid #CCCCCC;
                }
            }

            .error {
                border: 1px solid red;
            }
        }


    }
}
